<!DOCTYPE html>
<html lang="pt-BR" enc>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="styles.css" rel="stylesheet"" />
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔊</text></svg>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta charset="UTF-8">
  <title>Risco Som Risco 2.0</title>
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-app-bar class="mb-8">
          <image src="./images/andre.gif" height="100%" style="border-radius: 50%; margin-right: 20px"></image>
          <h3>Risco Som Risco 2</h3>
        </v-app-bar>
        <v-container fluid style="width: 1000px">
          <v-row class="child-flex">
            <v-col cols="12">
              <v-btn fab dark fixed top right @click="stopAll()">
                <v-icon>mdi-stop</v-icon>
              </v-btn>
              <v-expansion-panels multiple>
                <v-expansion-panel v-for="section in sections" v-bind:data="section" v-bind:key="section.key">
                  <v-expansion-panel-header>{{ section.name }}</v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <image v-if="section.image" :src="section.image" height="60px" style="border-radius: 50%"> </image>
                    <v-btn v-bind:class="item.classes != null ? item.classes : `error`" class="mb-1 mr-1" v-for="item in section.sounds" v-bind:data="item"
                      v-bind:key="item.key" @click="execute(item)">
                      {{ item.name }}
                    </v-btn>
                  </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                  <v-expansion-panel-header>FALAR 🗣</v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="8"
                        md="10"
                      >
                        <v-text-field v-model="tts" name="texto" label="Digite um texto!"/>
                      </v-col>
                      <v-col
                        cols="4"
                        md="2"
                      >
                        <v-btn class="mb-1 mr-1 error" @click="falar()">Falar</v-btn>
                      </v-col>
                    </v-row>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-col>
          </v-row>
        </v-container>
        <v-speed-dial fixed bottom right v-model="fab_specials.fab" :direction="fab_specials.direction"
          :open-on-hover="fab_specials.hover" :transition="fab_specials.transition">
          <template v-slot:activator>
            <v-btn v-model="fab_specials.fab" color="blue darken-2" dark fab>
              <v-icon v-if="fab_specials.fab">mdi-close</v-icon>
              <v-icon v-else>mdi-plus</v-icon>
            </v-btn>
          </template>
          <v-btn fab small color="green" @click="playViveiro()">🦜</v-btn>
          <v-btn fab small color="red" @click="playRioDeJaneiro()">🔫</v-btn>
          <v-btn fab dark small @click="hellbringer()">🔥</v-btn>
          <v-btn fab small color="grey" @click="umahoradesilenciointerrompidaporsonsaleatoriamente()">🤫</v-btn>
        </v-speed-dial>
        <v-snackbar v-model="snackbar.visible" :timeout="snackbar.timeout">
          {{ snackbar.text }}
          <template v-slot:action="{ attrs }">
            <v-btn
              color="blue"
              text
              v-bind="attrs"
              @click="snackbar.visible = false"
            >Fechar</v-btn>
          </template>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</body>

<!-- Carrega os dados -->
<script src="./data.js"></script>

<!-- Instancia o Vue -->
<script>
  var vm = new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data: {
      fab_specials: () => ({
        direction: 'top',
        fab: false,
        fling: false,
        hover: false,
        tabs: null,
        top: false,
        right: true,
        bottom: true,
        left: false,
        transition: 'slide-y-reverse-transition',
      }),
      tts: "",
      audios: [],
      sections: SoundData,
      snackbar: {
        visible: false,
        timeout: 2000
      }
    },
    methods: {
      play: function (sound, log = true) {
        const path = sound.file;
        var audio = new Audio("./audios/" + path);
        var xhr = new XMLHttpRequest();
        vm.audios.push(audio);
        audio.play();
        if (log) {
          console.log('logging ' + sound.name)
          xhr.open("POST", 'http://risco13-sp01:8128');
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.send(JSON.stringify({ value: sound.name }));
        }
      },
      execute: function (sound, log = true) {
        if (sound.file != null) {
          vm.play(sound, log);
        } else {
          sound.func();
        }
      },
      getAllSounds: () => {
        var sounds = [];
        vm.sections.forEach((section) => {
          sounds.push(...section.sounds)
        })
        return sounds;
      },
      randBetween: (min, max) => {
        return Math.floor(Math.random() * (max - min + 1) + min)
      },
      stopAll: () => {
        vm.audios.forEach(element => {
          element.pause()
        });
      },
      playViveiro: () => {
        const sounds = vm.sections.filter((x) => x.name == 'VIVEIRO')[0].sounds;
        vm.snackbar.text = `Tocando o viveiro!`;
        vm.snackbar.visible = true;
        for (let i = 0; i <= 10; i++) {
          const sleepTime = vm.randBetween(1, 10) * 1000;
          const whichOne = vm.randBetween(0, sounds.length - 1);
          setTimeout(() => {
            console.log(`Tocando agora ${whichOne}`)
            vm.execute(sounds[whichOne], log = false);
          }, sleepTime);
        }
      },
      playRioDeJaneiro: () => {
        const sounds = vm.sections.filter((x) => x.name == 'RIO DE JANEIRO')[0].sounds;
        vm.snackbar.text = `Tocando o Rio de Janeiro!`;
        vm.snackbar.visible = true;
        for (let i = 0; i <= 10; i++) {
          const sleepTime = vm.randBetween(1, 10) * 1000;
          const whichOne = vm.randBetween(0, sounds.length - 1);
          setTimeout(() => {
            console.log(`Tocando agora ${whichOne}`)
            vm.execute(sounds[whichOne], log = false);
          }, sleepTime);
        }
      },
      hellbringer: () => {
        vm.snackbar.text = `Eita.`;
        vm.snackbar.visible = true;
        vm.sections.forEach((section) => {
          section.sounds.forEach((sound) => {
            vm.execute(sound, log = false);
          })
        })
      },
      umahoradesilenciointerrompidaporsonsaleatoriamente: () => {
        const sections = vm.sections;
        const allSounds = vm.getAllSounds();
        vm.snackbar.text = `Hora de silêncio eventualmente interrompida por sons aleatórios agendada!`;
        vm.snackbar.visible = true;
        var sleepTime = 0;
        while (true) {
          const sleepInterval = vm.randBetween(1, 600000);
          sleepTime += sleepInterval;
          if (sleepTime > 3600000) {
            break;
          }
          const whichOne = vm.randBetween(0, allSounds.length - 1);
          console.log(`Will play ${allSounds[whichOne].name} in ${(sleepTime/60000).toFixed(2)}min (${(sleepInterval/60000).toFixed(2)}min after the previous one)`)
          setTimeout(() => {
            console.log(`Tocando agora ${whichOne}`)
            vm.play(allSounds[whichOne].file, log = false);
          }, sleepTime);
        }
      },
      playRandomFiles: (name, files) => {
        const sound = {
          "name": name,
          "file": files[vm.randBetween(0, files.length - 1)]}
        vm.play(sound)
      },
      dorimeRandom: () => {
        const dorimes = ["dorime.mp3", "dorime-eletro.mp3", "dorime-funk.mp3"];
        vm.playRandomFiles("DORIME RANDOM ", dorimes);
      },
      japanTapuiu: () => {
        const tapuius = ["bahia-radio-globo.mp3", "shamisen.mp3", "whatsapp-audio-2020-01-01-at-01_ehgBR2P.mp3"];
        vm.playRandomFiles("SHAMISEN ", tapuius);
      },
      falar: () => {
        var texto = vm.tts;
        var synth = window.speechSynthesis;
        var utterThis = new SpeechSynthesisUtterance(texto);
        synth.speak(utterThis);
      },
    }
  })


</script>

</html>
