
@keyframes animate_border {
  to {
    transform: translateX(-50%);
  }
}

.felicidade {
  background-color: rgba(0, 0, 0, 0.192) !important;
  text-decoration: none;
  color: #fff !important;
  position: relative;
  overflow: hidden;
}

.felicidade::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  animation: animate_border .75s linear infinite !important;
  background-size: 50% 100%;
  border-radius: inherit;
}

@keyframes flashing_red {
  0%   {background-color:#ce7c76;}
  50%  {background-color:#ff1100;}
  100% {background-color:#ce7c76;}
}

.new_exclamation_mark::after {
  content: 'New!';
  font-size: 8px;
  display: block;
  padding: 1px;
  top: -2px;
  right: -2px;
  shape-outside: ellipse(55% 55%);
  clip-path: ellipse(55% 55%);
  animation: flashing_red .75s linear infinite !important;
  position: absolute;
  box-shadow: none;
 }

.v-chip--no-color {
  animation: flashing_red .75s linear infinite !important;
}

.v-chip__content {
  padding: 0px;
}

.ar__uploader {
  display: none;
}

.ar {
  width: 100% !important;
}
